#toolbar {
  display: flex;
  justify-content: left;
  align-items: center;
  background: white;
  color: white;
}

#toolbar h1 {
  margin-left: 20px;
}

#toolbar span {
  margin-left: 30px;
  height: 25px;
  color: var(--color-accent-dark);
}

.toolbar__icons {
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: var(--color-accent-dark);
}

.toolbar__button {
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 20px;
  height: 25px;
  background: white;
} 

.toolbar__button:hover,
.toolbar__button:focus {
  background: var(--color-accent-tertiary);
}

.primaryNav {
  position: fixed;
  left: 0;
  width: 80px;
  height: 100vh;
  background: var(--color-accent);
  border-right: 1px solid rgb(228, 228, 228);
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: center;
  padding-top: 90px;
}

.primaryNav a {
  text-decoration: none;
}

.primaryIcon {
  color: white;
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}

.feed {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: calc(100vh - 60px);
  background: white;
  position: fixed;
  top: 60px;
  left: 80px;
  border-right: 1px solid lightgrey;
  padding: 30px 10px;
  z-index: 3;
  transition: .2s ease-in;
}

.closedFeed {
  left: -320px;
}

#stopPlotting {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: fixed;
  top: 90px;
  left: 75px;
  width: 55px;
  background: white;
  padding-right: 5px;
  border-radius: 5px;
}

#stopPlotting > * {
  width: 40px;
  height: 40px;
  z-index: 1;
}

.header {
  text-align: center;
}

#loading {
  margin: 0 auto;
  width: 100px;
  padding-top: 50vh;
}

#loading>p {
  background-color: var(--color-accent-dark);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  position: relative;
}

#loading>p::before,
#loading>p::after {
  animation-duration: .6s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-name: loading;
  animation-direction: alternate;
  animation-play-state: running;
  position: absolute;
  content: "";
  background-color: var(--color-accent);
  border-radius: 50%;
  top: 0px;
  width: 15px;
  height: 15px;
}

#loading>p::before {
  left: -25px;
  transform-origin: 32.5px center;
}

#loading>p::after {
  left: 25px;
  transform-origin: -17.5px center;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

#feedLoader {
  margin: 0 auto;
  width: 100px;
}

#feedLoader>p {
  background-color: var(--color-accent-dark);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative;
  animation: 0.4s linear 0.3s infinite alternate both running feedLoading;
}

#feedLoader>p::before,
#feedLoader>p::after {
  position: absolute;
  content: ' ';
  background-color: var(--color-accent);
  width: 10px;
  height: 10px;
  top: 0;
  border-radius: 50%;
}

#feedLoader>p::before {
  right: 20px;
  animation: 0.4s linear 0s infinite alternate both running feedLoading;
}

#feedLoader>p::after {
  left: 20px;
  animation: 0.4s linear 0.6s infinite alternate both running feedLoading;
}

@keyframes feedLoading {
  0% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(0px);
  }
  
  100% {
    transform: translateY(10px);
  }
}