.entry__form {
  display: flex;
  flex-direction: column;
}

.entry__content {
  border: none;
  border-bottom: 1px solid lightgrey;
  font-size: 1.2rem;
  padding: 6px 10px;
  margin-bottom: 10px;
  height: 35px;
  background: white;
  border-radius: 0;
}

textarea.entry__content {
  min-width: 100%;
  max-width: 100%;
}

select.entry__content {
  -webkit-appearance: none;
}

.entry__content:focus {
  border-bottom: 2px solid var(--color-accent);
}

.entry__plotbutton {
  width: 50%;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 6px;
  background: white;
  margin: 0 auto;
}

.entry__plotbutton:hover,
.entry__plotbutton:focus {
  background: var(--color-accent-tertiary);
  color: var(--color-accent-dark);
}

.entry__submit {
  width: 50%;
  border: none;
  border-radius: 5px;
  background: var(--color-accent);
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 4px 0;
  margin: 0 auto;
}